{% extends 'cinema/base.html' %}
{% block content %}
<form>
    <div class="form-group">
        <label for="example-text-input" class="col-2 col-form-label">Select a Cinema: </label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            <option selected>Choose Cinema</option>
            {% for cinema in cinemalist %}
                <option value="{{ cinema.pk }}">{{ cinema.theatre_name }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<form method = "POST">
    <div class="form-group">
        <label for="example-text-input" class="col-2 col-form-label">Select a Movie: </label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            <option selected>Choose Movie</option>
            {% for movie in movielist %}
                <option value="{{ movie.pk }}">{{ movie.title }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<button type="submit" class="btn btn-primary">Submit</button>

{% endblock %}