{% extends 'cinema/base.html' %}

{% block content %}
<div class="movie">
    {% if movie.published_date %}
        <div class="date">
            {{ movie.published_date }}
        </div>
    {% endif %}
    <h1>{{ movie.title }}</h1>
    <p>{{movie.category|linebreaksbr}}</p>
    <p>Length: {{movie.length|linebreaksbr}}</p>
    <a href="{% url 'movie_new' %}" class="btn btn-info" role="button">Done!</a>
    <a class="btn btn-default" href="{% url 'movie_edit' pk=movie.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    
</div>
{% endblock %}